body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpDancersButton{
  padding:5px 12px;
  float:right;
  background-color: #777;
  margin:0 2px;

}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{

  position:absolute;
}

.blinkyDancer{
  border:10px solid red;
  border-radius:10px;
}

.spinnyDancer {
  position: relative;
  border:10px solid green;
  height:20px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: spinnyDancer 1.7s infinite;
}

@-webkit-keyframes spinnyDancer {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.circleDancer { 
  width:100px; 
  height:100px; 
  transform-origin:100% center; 
  position:absolute; 
  -webkit-animation: circleDancer 2s linear infinite; 
}

.circleDancer:before { 
  content:''; 
  position:absolute; 
  height:100%; 
  width:100%; 
  background:orange; 
  -webkit-animation: circleDancer 3s linear reverse infinite; 
}

@-webkit-keyframes circleDancer { 
  100% { 
    transform:rotate(-360deg); 
  } 
}
